.custom-cursor {
  cursor: auto;
}
.paginacion {
  display: inline-block;
  margin: 0 4px;
}

.paginacion span {
  margin: 0 4px;

  border: 1px solid gray;
}
.paginacion span:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.paginacion span:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
